body{
    font-family: 'Orbitron', sans-serif;
}

body{
    font-size: 10;
}
span{
    font-weight: 700;
}

h1{
    font-size: 50px;
}

h1{
    letter-spacing: 10px;
}

h1{
    text-align: center;
}

h1{
    text-transform: capitalize;
}

h1{
    text-decoration: underline;
}

#series-movies{
    font-size: 20px;
}

h2{
    font-size: 4rem;
}

li{
    line-height: 2;
}

#character{
    font-size: 18px;
}

h4{
    letter-spacing: 15px;
}
